:root {
  --basic-dark: #1f1f1f;
  --basic-light: #f2f2f2;
  --basic-blue: #2f80ed;
  --basic-black: #000;
  --basic-white: white;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
  color: var(--basic-black);
}

/* Шапка сайта, блок header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: var(--basic-light);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  margin: 0 0 0 64px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 3;
}

.header__link {
  color: var(--basic-blue);
}

.link {
  text-decoration: none;
}

.link:hover {
  color: brown;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  /*   background-image: url(../images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat; */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  height: 568px;
  width: 568px;
  max-height: 100%;
  background-color: var(--basic-blue);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 3;
}

.content {
  margin: 0;
}

/* Секция, блок description */

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--basic-blue);
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Секция, блок digits */

.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.table {
  width: 1100px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Секция, блок feynman */

.feynman {
  min-height: 890px;
  box-sizing: border-box;
  background-color: var(--basic-light);
  background-image: url(../images/feynman.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  display: block;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 70px auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: var(--basic-blue);
  position: absolute;
  top: 50%;
  right: 48px;
}

/* Секция, блок kaufman */

.kaufman {
  background-color: var(--basic-dark);
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  /* background-size: 877px 877px; */
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.section-title_theme_dark {
  color: var(--basic-white);
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: var(--basic-white);
}

.table_theme_dark {
  width: 1100px;
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
  width: 200px;
  color: var(--basic-white);
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

/* Подвал сайта, блок footer */

.footer {
  min-height: 350px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  display: flex;
/*   flex-direction: column;
  align-items: stretch; */
/*   position: relative; */
}

.footer__columns {
  width: 90%;
  /*   height: 100%; */
/*   position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto 40px auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0 0 16px 0;
}

.footer__column-link {
  color: var(--basic-white);
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  /*   margin-bottom: 10px; */
  display: block;
}

.footer__social-icon {
  margin-right: 10px;
}

/* Не получилось сделать через псевдоэлемент. проблемы с позиционированием */

/* .footer__column-link_src_facebook{
  padding-left: 26px;
}

.footer__column-link_src_facebook::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/facebook_color_white.svg);
   background-position: center;
} */
